{% extends "base_generic.html" %}
{% block content %}
<h1>Local Library</h1>
<p>Добро пожаловать в <em>Local Library</em>, очень простой веб-сайт Django, разработанный в качестве учебного примера.</p>
<h2>Динамический контент</h2>
<p>В библиотеке имеется следующее количество записей:</p>
<ul>
    <li><strong>Книг:</strong> {{ num_books }}</li>
    <li><strong>Копий:</strong> {{ num_instances }}</li>
    <li><strong>Доступных копий:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторов:</strong> {{ num_authors }}</li>
    <li><strong>Жанров, содержащих слово 'Научная':</strong> {{ num_genre_with_word }}</li>
    <li><strong>Книг, содержащих в названии 'Надежность':</strong> {{ num_books_with_word }}</li>
</ul>
{% endblock %} 