{% extends "base_generic.html" %}

{% block content %}
  <h1>Автор: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p>{{ author.date_of_birth }} - {% if author.date_of_death != None %}{{author.date_of_death}}{% endif %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Книги</h4> 

    {% for copy in author.book_set.all %}
      <hr>
      <p><strong>Название:</strong> <a href="{% url 'book-detail' copy.pk %}">{{copy.title}}</a></p>
      <p><strong>ISBN:</strong> {{copy.isbn}}</p>
      <p><strong>Описание:</strong></p>
      <p class="text-muted">{{copy.summary}}</p>
    {% endfor %}
  </div>
{% endblock %}